@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nunito";


}
#statsSection{
    height: calc(324/1080*100vh);
    background-color: var(--color2);
    color: var(--color6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
    
}
#statsSection div{
    display: flex;
    
    
}
#statsSection div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    
}
#usernametxt{
    font-size: calc(64/1920*100vw);
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1;
    
}
.statsLabels{
    font-size: 24px;
    font-weight: bold;
}
body{
    background-color: var(--color6);
}

#content{
    display:none ;
    width: 100vw;
    height: 100vh;
}
#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-name: introAnimation;
    background-color: var(--color2);
}
#introImage{
    width: 20vh;
    height: 20vh;
    background-image: url("../images/logo 3.png");
    background-size:contain; 
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-name: introImageAnimation;
    
}
#statsSection img{
    display: block;
    width: calc(154/1920*100vw);
    height: calc(154/1920*100vw);
    margin-right: 2vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#trackersSection{
    display: grid;
    grid-template-columns: auto 396px;
    flex-direction: column;
    height: 70vh;
}
#todayDate{
    position: absolute;
    top: 2vh;
    right: 2vh;
}
#habitTracker {
    display: flex;
    flex-direction: row;
    background-color: var(--color7);
    
    height: 50vh;
    border-radius: 2vh;
    padding: 1vh;

   
}
#habitTrackerTitle{
    color: var(--color1);
    font-weight: bold
}

#todoList{
    background-color: var(--color7);
    width: 100%;
    height: 100%;
}
.checkBox{
    width: 2vw;
    height: 2vw;
    background-color:var(--color8);
    border-radius: 20%;
    margin: 0.5vw;
}
.checkBoxClicked{
    width: 2vw;
    height: 2vw;
    background-color: var(--color3);
    border-radius: 20%;
    margin: 0.5vw;}



/*---------------------------------------------------------------------------animations--------------------------------------------------------------------------------------*/

@keyframes introAnimation{

    0%{
        opacity: 1;
        
            
       
    }
    100%{
        opacity: 0;
    }

}
@keyframes introImageAnimation{
    0% {
        width: 20vh;
        height: 20vh;
    
    
    
    }
    50%{
        width: 24vh;
        height: 24vh;
    }
    
    100% {
        width: 20vh;
        height: 20vh;
    }

}