:root {
    --color1: #021024;
    --color2: #052659;
    --color3: #5483B3 ;
    --color4: #7da0ca;
    --color5: #c1e8ff;
    --color6: #F8F8F8;
    --color7: #ECECEC;
    --color8: #E0E0E0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nunito";


}
#statsSection{
    height: 30vh;
    background-color: var(--color2)
}
#usernametxt{
    font-size: 10vh;
    margin-left: 2vw;
}
body{
    background-color: var(--color6);
}

#content{
    display:none ;
}
#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-name: introAnimation;
    background-color: var(--color2);
}
#introImage{
    width: 20vh;
    height: 20vh;
    background-image: url("../images/logo 3.png");
    background-size:contain; 
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-name: introImageAnimation;
    
}

/*---------------------------------------------------------------------------animations--------------------------------------------------------------------------------------*/

@keyframes introAnimation{

    0%{
        opacity: 1;
        
            
       
    }
    100%{
        opacity: 0;
    }

}
@keyframes introImageAnimation{
    0% {
        width: 20vh;
        height: 20vh;
    
    
    
    }
    50%{
        width: 24vh;
        height: 24vh;
    }
    
    100% {
        width: 20vh;
        height: 20vh;
    }

}